
@media (max-width: 624px){

        
    .titulo {

       max-width: 100%;
       height: auto;
   }

   .logo {
       max-width: 100%;
       height: auto;
   }

   .logofilo{
       max-height: 300px;
       width: auto;
   }
   
   .filotext {
       font-size: 15px;
       padding: 100px;
   
       }

       /* servicios*/



   .listaservicios {


       

       .fotodes {

          
   
           .fotoserv {
               height: 150px;
               width: 150px;
           }
   
           .listaser {
   
   
   
               h1{
               font-size: 16px;
               }

               p{
               font-size: 14px;
            
               }
           }
   
           
   
       }

       h2 {
           font-size: 20px;

       }

       .p {
           font-size: 15px;
       }
   }
   
       
   



  /*inicio*/

.titulo {

   max-width: 100%;
   height: auto;
}

.imagen1 {
   
   max-width: 100%;
   height: auto;


}


/*contacto*/

.mapa {
   max-width: 100%;
   height: auto ;
}

textarea{
   max-width: 100%;
   height: auto ;
    
}

.nomcor {
   max-width: 100%;
   height: auto ;
}


/*filo*/



.gafasfoto {
   max-width: 100%;
   height: auto ;
}

}

/*footer*/

.instaindex {
   width: 10px;height: 10px;
  
}

