

@media (max-width: 1290px){

    /* servicios*/


    .fotodes {

        .fotoserv {
            height: 350px;
            width: 350px;

        }

        .listaser {



            h1{
                font-size: 45px;
            }
            p{
                font-size: 30px;
        
            }
        }

        

    }

    
}