

    



   


    @media (max-width: 400px){

        .logofilo {

            max-width: 400px;
            height: auto;
            
        }
    
        .filotext {
            font-size: 15px;
            padding: 100px;
    
        }

        /* servicios*/
    
    
        .fotodes {
    
            .fotoserv {
                height: 250px;
                width: 250px;
    
            }
    
            .listaser {
    
    
    
                h1{
                    font-size: 35px;
                }
                p{
                    font-size: 20px;
            
                }
            }
    
            
    
        }
    
        
    }

/*inicio*/

.titulo {

    max-width: 100%;
    height: auto;
}

.imagen1{
    flex-wrap: wrap;
        align-self: center;
        width: 400px;
        height: auto;
        padding: 10px;


}
