/* Variables*/
/*maps*/
/*mixin*/
body {
  background-color: #e0f5ed;
}

/*header*/
* {
  margin: 0;
  padding: 0;
}

/*NAVBAR*/
.nav-item {
  display: flex;
  justify-content: space-around;
  font-family: "Oswald", sans-serif;
  color: #e0f5ed;
}

.navbar {
  background-color: #54908e;
  padding: 9px 180px;
  margin: 0px;
  border: 0px;
}

header .logo {
  width: 450px;
}
header .titulo {
  width: 800px;
}

/*index*/
.media {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.media .imagen1 {
  flex-wrap: wrap;
  align-self: center;
  width: 700px;
  height: 550px;
  padding: 10px;
  grid-area: imagen1;
}
.media h1 {
  color: #1e3736;
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  font-weight: bold;
}
.media .texto1 {
  color: #25615e;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.media .texto1 {
  grid-area: texto1;
}

.texto2 {
  color: #25615e;
  font-family: "Oswald", sans-serif;
  font-size: 22px;
  font-weight: bold;
}

/*Servicioss*/
.listaservicios {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}

.texto3 {
  text-align: center;
  color: #25615e;
  font-family: "Oswald", sans-serif;
  font-size: 22px;
  font-weight: bold;
}

h2 {
  color: #1e3736;
  font-family: "Oswald", sans-serif;
  font-size: 34px;
  font-weight: bold;
}

.textoservicios {
  color: #2c615f;
  font-family: "Oswald", sans-serif;
  font-size: 28px;
  font-weight: bold;
}

h3 {
  color: #1e3736;
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  font-weight: bold;
}

/*Tienda*/
h1 {
  text-align: center;
}

h1 {
  color: #1e3736;
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  font-weight: bold;
}

.productostienda {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}

.card {
  background-color: #2c615f;
}

.card-body {
  color: #e0f5ed;
}

.btn-primary {
  border: #25615e;
  color: #e0f5ed;
  background-color: #54908e;
}

.btn-primary:hover {
  background-color: #085f3d;
}

/*Contacto*/
main {
  text-align: center;
}
main .mapa {
  display: flex;
  display: inline;
  padding: 20px;
  margin: 20px;
}
main .form {
  color: #1e3736;
  font-family: "Oswald", sans-serif;
  font-size: 19px;
  font-weight: bold;
}
main .nomcor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .nomcor .form {
  padding: 9px;
}
main .mss {
  padding: 22px;
}

/*Footer*/
footer {
  text-align: center;
}
footer .redescontacto {
  text-align: center;
  color: #1e3736;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: bold;
}
footer .h2index {
  color: #201106;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: bold;
}
footer .instaindex {
  width: 45px;
  height: 45px;
  grid-template-columns: instaindex;
}
footer .h2index {
  text-align: center;
  grid-area: h2index;
}
footer h3 {
  color: #1e3736;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: bold;
}
footer .footer {
  color: #1e3736;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

@media (max-width: 500px) {
  .imagen1 {
    display: flex;
    text-align: center;
  }
  .imagen1 .media {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=style.css.map */
