/* Variables*/

$fuente:'Oswald', sans-serif;
$coloroscuro: #1e3736;
$masclaro:#e0f5ed;

/*maps*/

$colors: (
  verdeoscuroclaro: #25615e,
  verdeoscuro2:#085f3d,
  verdeclaro:#54908e,

);

/*mixin*/

@mixin carfuentes( $size ,$font,$weight ){
font-family: $font;
font-size: $size;
font-weight: $weight
}





body   {
    background-color: $masclaro;

}


/*header*/
*{
    margin: 0;
    padding: 0;

}


/*NAVBAR*/

.nav-item {
    display: flex;
    justify-content: space-around;
    font-family: $fuente;
    color: $masclaro;
}

.navbar {
    background-color: #54908e;
    padding: 9px 180px;
    margin: 0px;
    border:0px;
}




header {
    
    .logo {
        width: 450px;
    }
    .titulo {
        width: 800px;
    }
    
    
}



/*index*/


.media{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap ;

    .imagen1 {
        flex-wrap: wrap;
        align-self: center;
        width: 700px;
        height: 550px;
        padding: 10px;
        grid-area: imagen1;
        
       
    }

    h1{
        color: $coloroscuro;
        @include carfuentes(40px,$fuente,bold )
    
    }

    .texto1 {
        color:map-get($colors, verdeoscuroclaro);
        @include carfuentes(20px,$fuente,bold)
    }

    .texto1 {
        grid-area: texto1;

    
    }

}

.texto2 {
    color:map-get($colors, verdeoscuroclaro);
     @include carfuentes(22px,$fuente,bold)
        
}




/*Servicioss*/

.listaservicios {
  display: flex;
  justify-content: space-around;
  flex-direction: row ;
  flex-wrap: wrap;
  align-items: baseline;

    
}




.texto3 {
    text-align: center;
    color:map-get($colors, verdeoscuroclaro);
    @include carfuentes(22px,$fuente,bold )
    
}


h2 {
    color: $coloroscuro;
    @include carfuentes(34px,$fuente ,bold )
   
}
    
.textoservicios {
    color: #2c615f;
    @include carfuentes(28px,$fuente ,bold )
    
}

h3 {
    color: $coloroscuro;
    @include carfuentes(50px,$fuente ,bold )

}


/*Tienda*/


h1{
    text-align: center;

}

h1 {
    color:$coloroscuro;
    @include carfuentes(50px,$fuente ,bold )
    
}
.productostienda {
    display: flex;
    justify-content: space-around;
    flex-direction: row ;
    flex-wrap: wrap;
    align-items: baseline;
}

.card {
    background-color: #2c615f;
}

.card-body {
    color:$masclaro;
}

.btn-primary {
    border: #25615e;
    color:$masclaro;
    background-color: #54908e;

}

.btn-primary:hover {
    background-color: #085f3d;
}
/*Contacto*/

main {
    text-align: center;

    .mapa {
        display: flex;
        display: inline;
        padding: 20px;
        margin: 20px;
        
    }
    .form {
        color:$coloroscuro;
        @include carfuentes(19px,$fuente ,bold )
    
    }
    .nomcor {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .form {
            padding: 9px;
        }
    }

    .mss {
        padding: 22px;
    }

   
}


    






/*Footer*/

footer {
    text-align: center;

    .redescontacto {
     text-align: center;
     color: $coloroscuro;
     @include carfuentes(30px,$fuente ,bold )
     
    }

    .h2index {
        color: #201106;
        @include carfuentes(36px,$fuente ,bold )
    }
    
    .instaindex {
    
        width: 45px;height: 45px;
        grid-template-columns: instaindex;
    }
    
    
    
    .h2index {
        text-align: center;
        grid-area: h2index;
    }

    h3 {
        color:$coloroscuro;
        @include carfuentes(16px,$fuente ,bold )
        
    }

    .footer  {
        color:$coloroscuro;
        @include carfuentes(16px,$fuente ,bold )

}

}

@media (max-width: 500px){

    .imagen1 {
        display: flex;
        text-align: center;
      

    .media {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }

    
}


    
}


