/* Variables*/

body   {
    background-color: #e0f5ed;

}


/*header*/
*{
    margin: 0;
    padding: 0;

}

header {
    
    .logo {
        width: 450px;
    }
    .titulo {
        width: 800px;
    }
    
    
}


/* index*/ 




/*servicios*/

.fotopatrones:hover {
   opacity: -0,2; 
}
    



/*tienda*/



/*contacto*/



@media (max-width: 480px) {


}
