/*navbar*/
@import "./partials/navbar";
/*maps*/
@import "./partials/maps";

/*media queries*/
@import "./media-queries/media400";
@import "./media-queries/media600";

/*variables*/
@import "./partials/variables";

/*mixin*/

@import "./partials/mixin";




body   {
    background-color: $masclaro;

}


/*header*/
*{
    margin: 0;
    padding: 0;

}



/*index*/


.media{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap ;

    .imagen1 {
        flex-wrap: wrap;
        align-self: center;
        width: 500px;
        height: 350px;
        padding: 10px;
        grid-area: imagen1;
        
       
    }

    h1{
        color: $coloroscuro;
        @include carfuentes(40px,$fuente,bold )
    
    }

    .texto1 {
        color:map-get($colors, verdeoscuroclaro);
        @include carfuentes(17px,$fuente,bold)
    }


    .texto1 {
        grid-area: texto1;
        padding: 18px;

    
    }

}

.texto2 {
    color:map-get($colors, verdeoscuroclaro);
     @include carfuentes(17px,$fuente,bold)
        
}




/*Servicioss*/

.fotopatrones {
   max-width: 100%;
   height: auto;
}

.texto3 {
    text-align: center;
    color:map-get($colors, verdeoscuroclaro);
    @include carfuentes(20px,$fuente,bold )
    
}


h1 {
    color: $coloroscuro;
   
}

p{
    @include carfuentes(25px,$fuente ,none )
    

}
    
.textoservicios {
    color: #2c615f;
    @include carfuentes(30px,$fuente ,bold )
    
}

h2 {
    color: $coloroscuro;
    @include carfuentes(30px,$fuente ,bold )

}





.fotoserv {
    height: 450px;
    width: 450px;
   
}

.listaservicios {
    display: grid;
    grid-template-columns: auto;
}  

.fotodes {
    display: flex;
    flex-direction: row;
    
    
}

.listaser {
    width: auto;
    height: auto;
    padding: 20px;
}

.listaser{
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
/*Tienda*/


h1{
    text-align: center;

}

h1 {
    color:$coloroscuro;
    @include carfuentes(50px,$fuente ,bold )
    
}
.productostienda {
    display: flex;
    justify-content: space-around;
    flex-direction: row ;
    flex-wrap: wrap;
    align-items: baseline;
}


.card {
    background-color: #2c615f;
    margin: 20px;
   
}

.card-body {
    color:$masclaro;
}

.btn-primary {
    border: #25615e;
    color:$masclaro;
    background-color: #54908e;

}

.btn-primary:hover {
    background-color: #085f3d;
}

.card-text {
    font-size: 18px;
}
/*Contacto*/

main {
    text-align: center;

    .mapa {
        display: flex;
        display: inline;
        padding: 20px;
        margin: 20px;
        
    }
    .form {
        color:$coloroscuro;
        @include carfuentes(19px,$fuente ,bold )
    
    }
    .nomcor {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .form {
            padding: 9px;
        }
    }

    .mss {
        padding: 22px;
    }

   
}

/*filosofia*/

.logofilo{
    height: 700px;
    width: auto;
}


.divfilo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    padding: 30px;

}

.filotext {
    font-size: 20px;
    padding: 12px;
}

.gafasfoto {
    max-width: 100%;
    height: auto ;
}

 




/*Footer*/

footer {
    text-align: center;

    .redescontacto {
     text-align: center;
     color: $coloroscuro;
     @include carfuentes(20px,$fuente ,bold )
     
    }

    .h2index {
        color: #201106;
        @include carfuentes(30px,$fuente ,bold )
    }
    
    .instaindex {
    
        width: 30px;height: 30px;
        grid-template-columns: instaindex;
    }
    
    
    
    .h2index {
        text-align: center;
        grid-area: h2index;
    }

    h3 {
        color:$coloroscuro;
        @include carfuentes(10px,$fuente ,bold )
        
    }

    .footer  {
        color:$coloroscuro;
        list-style: none;
        @include carfuentes(9px,$fuente ,bold )

}

}




