
header{
    background-color: #e0f5ed;
}
.container-fluid {
    background-color: #5ea4a2;
}

.nav-item {
    display: flex;
    justify-content: space-around;
    font-family:'Oswald', sans-serif;
    color: #e0f5ed;
}

.navbar navbar-expand-lg bg-body-tertiary .navbar {
   
    background-color: #54908e;
    
    

}

.navbar {
    background-color: #5ea4a2;
    padding-top: 0cap;
    padding-bottom: 0cap;

}



header {
    
    .logo {
        width: 450px;
    }
    .titulo {
        width: 800px;
    }
    
    
}
